<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Stock Analysis</title>

</head>
<body>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <div class="one">
        <h1>Choose the two companies:</h1>
    </div>

    <form method="POST" action="{% url 'visualize-data' %}">
        {% csrf_token %}

        <select class="minimal" id="stocks" name="first-stock">
        {% for stock in STOCK_LIST %}
            <option value="{{ stock }}">{{ stock }}</option>
        {% endfor %}
        </select>

        <select class="minimal" id="stocks-2" name="second-stock">
        {% for stock in STOCK_LIST %}
            <option value="{{ stock }}">{{ stock }}</option>
        {% endfor %}
        </select>

        <br><br>
        <button class="bn29" type="submit">Validate</button>
    </form>

</body>
</html>